# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
voc/

# Environment variables
.env
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/

# Editor backups
*~
*.swp
